<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTN">

        <!--MIS PRODUCTOS-->
        <activity android:name=".MisProductosActivity"
            android:exported="false"/>


        <!-- HISTORIAL DE PAGOS -->
        <activity
            android:name=".HistorialPagosActivity"
            android:exported="false" />

        <!-- HISTORIAL DE COMPRAS -->
        <activity
            android:name=".HistorialComprasActivity"
            android:exported="false" />

        <!-- CITA CONFIRMADA -->
        <activity
            android:name=".CitaConfirmadaActivity"
            android:exported="false" />

        <!-- HISTORIAL DE CITAS -->
        <activity
            android:name=".HistorialCitasActivity"
            android:exported="false" />

        <!-- AGENDAR CITA -->
        <activity
            android:name=".AgendarCitaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- PAGO -->
        <activity
            android:name=".PagoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- COMPRA -->
        <activity
            android:name=".CompraActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- CHAT -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- DETALLES DEL PRODUCTO -->
        <activity
            android:name=".DetalleProductoActivity"
            android:exported="false" />

        <!-- FAVORITOS -->
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />

        <!-- EDITAR PERFIL -->
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- PERFIL -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- MARKETPLACE -->
        <activity
            android:name=".MarketplaceActivity"
            android:exported="false" />

        <!-- PUBLICAR -->
        <activity
            android:name=".PublicarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- REGISTRO -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- HOME -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- LOGIN PRINCIPAL (Única pública para arrancar la app) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>